.list {
    list-style-type: none;
    padding-left: 0;
    background: #e6e9e9;
    margin: 0 5px;
    padding: 8px;
    border-radius: 2px;
    stroke: #d7d9db;
  }
  
  .name-header {
    text-align: justify;
    padding: 6px 6px;
    margin: 0;
    font-size: medium;
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 900;
    
  }
  
  .name-0 {
    background-color: #14222b;
    border-radius: 2px;
  }
  
  .name-1 {
    background-color: #14222b;
    border-radius: 2px;
  }
  
  .name-2 {
    background-color: #14222b;
    border-radius: 2px;
  }

  .list-wrapper {
    background-color:#e6e9e9 ;
    border-radius: 3px;
    margin-top: 36px;


  }

  

  